@{
    ViewData["Title"] = "Books";
}

<!DOCTYPE html>
<html ng-app="booksApp">
<head>
    <title>@ViewData["Title"]</title>

    <script src="~/lib/angular/angular.js"></script>

    <script src="~/js/Module.js"></script>
    <script src="~/js/Service.js"></script>
    <script src="~/js/Controller.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body ng-controller="BookListController">
    <div class="body-content">
        <h3>@ViewData["Message"]</h3>

        <table>
            <tr>
                <td>
                    <table id="searchObjResults" class="table-striped table-hover" width="600">
                        <tr my-Booktableheader>                            
                        </tr>
                        <tr ng-repeat="book in Books | filter:search:strict">
                            <td>{{book.id}}</td>
                            <td>{{book.name}}</td>
                            <td>{{book.author}}</td>
                            <td>
                                <button type="button" class="btn" ng-click="get(book)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <button type="button" class="btn" id="new" value="New" ng-click="clear()">
                        <span class="glyphicon glyphicon-plus"></span> New
                    </button>
                    <br />
                    <br />
                    <table id="tblCRUD" class="table" width="500">
                        <tbody>
                            <tr>
                                <td>
                                    <span>Book ID</span>
                                </td>
                                <td>
                                    <input type="text" id="bno" readonly="readonly" ng-model="BookId" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Name</span>
                                </td>
                                <td>
                                    <input type="text" id="bname" required="" ng-model="BookName">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Author</span>
                                </td>
                                <td>
                                    <input type="text" id="bauthor" required="" ng-model="BookAuthor">
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    <button type="button" class="btn-success" id="save" value="Save" ng-click="save()">
                                        <span class="glyphicon glyphicon-save"></span> Save
                                    </button>
                                    <button type="button" class="btn-danger" id="delete" value="Delete" ng-click="delete()">
                                        <span class="glyphicon glyphicon-remove"></span> Delete
                                    </button>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

        <br />
        <label ng-class="statusClass">Status: {{status}}</label><br /><br />

        <p>Use this area to filter results.</p>

        <label>Any: <input ng-model="search.$"></label><br />
        <label>Name only <input ng-model="search.name"></label><br />
        <label>Author only <input ng-model="search.author"></label><br />
        <label>Equality <input type="checkbox" ng-model="strict"></label><br />
        <br />


    </div>
</body>
</html>
