@{
    ViewData["Title"] = "Books";
}

<!DOCTYPE html>
<script src="~/lib/angular/angular.js"></script>
<script src="~/js/app.js"></script>

<html ng-app="booksApp">
<head>
    <title>@ViewData["Title"]</title>
</head>

<body ng-controller="BookListController">

    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>

    <h1>Status: {{status}}</h1>

    <p>Use this area to filter results.</p>

    <label>Any: <input ng-model="search.$"></label><br />
    <label>Name only <input ng-model="search.name"></label><br />
    <label>Author only <input ng-model="search.author"></label><br />
    <label>Equality <input type="checkbox" ng-model="strict"></label><br />
    <br />
    <table id="searchObjResults">
        <tr><th>Name</th><th>Author</th></tr>
        <tr ng-repeat="book in Books | filter:search:strict">
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
        </tr>
    </table>

</body>
</html>
